<body class="flex flex-col items-center bg-white p-4 max-w-4xl mx-auto">
  <!-- Header -->
  <div class="flex justify-between items-center w-full mb-4">
    <%= render "shared/sidebar" %>
    <div class="flex space-x-2">
      <%= button_tag("保存", type: "submit", form: "post_form", class: "bg-amber-500 text-white rounded px-4 py-2 rounded") %>
      <%= link_to "×", root_path, class: "bg-white text-gray-700  border border-gray-300 rounded px-4 py-2 rounded", data: { turbo_method: :get, turbo_confirm: 'データは保存されません。よろしいですか？' } %>
    </div>
  </div>
  <%= render "shared/new_edit" %>
</body>
